<div class="placeOrderContainer">
  <input class="searchBar" type="text" placeholder="enter product name"/>
  <button><i class="material-icons">search</i></button>
  <button><i class="material-icons">edit</i></button>
  <button class="cart" routerLink="/userCart"><i class="material-icons">shopping_cart</i></button>
</div>  

<div class="address">
  
</div>

<div class="mainContainer">
  <div class="productCard" *ngFor="let prouct of productMenuItem;">
      <div class="img">
        <img src={{prouct.img}} alt="">
      </div>
      <div class="details">
        <div class="name">{{prouct.name}}</div>
        <div class="price">₹{{prouct.price}}</div>

        <div class="qty" *ngIf="prouct.quantity!=0">
          <button (click)="prouct.quantity=prouct.quantity-1">-</button>
          <input type="number" value={{prouct.quantity}} min="0" class="qty">
          <button (click)="prouct.quantity= prouct.quantity+1">+</button>
        </div>
        <div class="qtyCart" *ngIf="prouct.quantity==0">
          <button (click)="prouct.quantity=1">
              Add to<img src="assets/cart.jpg">
          </button>
       </div>

        <div class="description">
            {{prouct.description}}
        </div>
      </div>
  </div>
</div>